.notification {
  position: fixed;
  top: 1.3vw;
  right: 1.3vw;
  padding: 0.8vw 1.3vw;
  border-radius: 1vw;
  color: white;
  font-weight: 500;
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 1vw;
  animation: slideIn 0.3s ease-out;
}

.notification--success {
  background-color: #10b981;
  border: 1px solid #059669;
}

.notification--error {
  background-color: #ef4444;
  border: 1px solid #dc2626;
}

.notification--warning {
  background-color: #f59e0b;
  border: 1px solid #d97706;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.notification__icon {
  font-size: 1vw;
}

@media (max-width: 768px) {
  .notification{
    top: 2vw;
    right: 2vw;
    padding: 1.2vw 2vw;
    border-radius: 1.5vw;
    gap: 3vw;
  }
}

@media (max-width: 430px) {
  .notification{
    top: 3.9vw;
    right: 3.9vw;
    padding: 2.4vw 3.9vw;
    border-radius: 3vw;
    gap: 3vw;
  }
}