.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5vw 0.8vw;

    border-radius: 1vw;
    border: 1px solid #666;

    cursor: pointer;
    transition: all 0.4s ease;

    .button-text{
        color: #666;
        font-size: 1.1vw;
        transition: all 0.4s ease;
    }

    &:hover{
        background-color: #666;

        .button-text{
            color: #fff;
        }
    }
}

@media (max-width: 768px) {
    .button-container{
        padding: 0.75vw 1.2vw;
        border-radius: 1.5vw;

        .button-text{
            font-size: 1.5vw;
        }
    }
}

@media (max-width: 430px) {
    .button-container{
        padding: 1.5vw 2.4vw;
        border-radius: 2vw;

        .button-text{
            font-size: 3.3vw;
        }
    }
}